<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <base href="/">
    <title>Example</title>
    <meta name="description" content="Example Omni-Channel OCA">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/toaster.css">
    <link rel="stylesheet" href="styles/select.css">
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <link href="bower_components/angular-ui-select/dist/select.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body ng-app="lightApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <toaster-container toaster-options="{'position-class': 'toast-bottom-full-width'}"></toaster-container>

    <!-- Add your site or application content here -->
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container" data-ng-controller="menuCtrl">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="toggleCollapsed()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Example</a>
                </div>
                <!-- This is the nav menu for desktop -->
                <nav class="hidden-xs">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="node in tree | filter:hasAccess | filter: {left: true}"  dropdown>
                            <a ng-if="node.hasOwnProperty('menuItems')" role="button" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle" dropdown-toggle>{{node.label}} <b class="caret"></b></a>
                            <a ng-if="!node.hasOwnProperty('menuItems')" href="{{node.path}}" ng-click="toggleCollapsed()">{{node.label}}</a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="item in node.menuItems"><a href="{{item.path}}" ng-click="toggleCollapsed()">{{item.label}}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-repeat="node in tree | filter:hasAccess | filter: { left: false}">
                            <a href="{{node.path}}" ng-click="toggleCollapsed()">{{node.label}}</a>
                        </li>
                    </ul>
                </nav>
                <!-- This is the nav menu for phone the only difference is class and collapse -->
                <nav class="visible-xs" collapse="!menuSettings.isCollapsed">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="node in tree | filter:hasAccess | filter: { left: true}"  dropdown>
                            <a ng-if="node.hasOwnProperty('menuItems')" role="button" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle" dropdown-toggle>{{node.label}} <b class="caret"></b></a>
                            <a ng-if="!node.hasOwnProperty('menuItems')" href="{{node.path}}" ng-click="toggleCollapsed()">{{node.label}}</a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="item in node.menuItems"><a href="{{item.path}}" ng-click="toggleCollapsed()">{{item.label}}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-repeat="node in tree | filter:hasAccess | filter: { left: false}">
                        	<a href="{{node.path}}" ng-click="toggleCollapsed()">{{node.label}}</a>
                    	</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="header-placeholder"></div>
    <div role="main" ng-view></div><!-- /.main -->
    <footer class="footer">
        <div class="container"></div>
    </footer>
    <!-- global error handler outside of AngularJS -->
    <script>
        window.onerror = function(message, source, line, column) {
            try {
                var escape = function(x) { return x.replace('\\', '\\\\').replace('\"', '\\"'); };
                var XHR = window.XMLHttpRequest || function() {
                            try { return new ActiveXObject("Msxml3.XMLHTTP"); } catch (e0) {}
                            try { return new ActiveXObject("Msxml2.XMLHTTP.6.0"); } catch (e1) {}
                            try { return new ActiveXObject("Msxml2.XMLHTTP.3.0"); } catch (e2) {}
                            try { return new ActiveXObject("Msxml2.XMLHTTP"); } catch (e3) {}
                            try { return new ActiveXObject("Microsoft.XMLHTTP"); } catch (e4) {}
                        };
                var xhr = new XHR();
                xhr.open('POST', '/api/rs', true);
                xhr.setRequestHeader('Content-type', 'application/json');

                var error = '{"category": "log", "name": "logEvent", "readOnly":false, "data": {' +
                '"message": "' + escape(message || '') + '",' +
                '"source": "' + escape(source || '') + '",' +
                '"url": "' + escape(window.location.href) + '",' +
                '"line": "' + (line || 0) + '",' +
                '"column": "' + (column || 0) + '"' +
                '}}';
                console.log("error", error);
                xhr.send(error);
            }
            finally {
                window.onload = function() {
                    if (document.getElementById('page-error')) return; // The error is already displayed
                    var errorMessage = document.createElement('div');
                    errorMessage.setAttribute('id', 'page-error');
                    errorMessage.innerHTML = 'An error has occured and the details have been logged. ' +
                    'Please contact customer support for assistance.';
                    document.body.appendChild(errorMessage);
                }
            }
        };
    </script>

    <!--
    // test case that triggers global error handler above.
    <script>
        function a() {
            b();
        }

        function b() {
            c();
        }

        a(); // Throws an error since c is undefined
    </script>
    -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!--
    <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    -->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <![endif]-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/stacktrace-js/stacktrace.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src='bower_components/angular-ui-select/dist/select.js'></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="bower_components/angular-ui-tree-filter/dist/angular-ui-tree-filter.js"></script>
    <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script src="bower_components/marked/lib/marked.js"></script>
    <script src="bower_components/angular-marked/angular-marked.js"></script>
    <script src="bower_components/tv4/tv4.js"></script>
    <script src="bower_components/objectpath/lib/ObjectPath.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-ui-utils/highlight.js"></script>
    <script src="bower_components/angular-schema-form/dist/schema-form.min.js"></script>
    <script src="bower_components/angular-schema-form/dist/bootstrap-decorator.min.js"></script>
    <script src="bower_components/angular-schema-form-marked/bootstrap-marked.min.js"></script>
    <script src="bower_components/angular-schema-form-ui-ace/bootstrap-ui-ace.min.js"></script>
    <script src="bower_components/angular-schema-form-strapselect/bootstrap-strapselect.min.js"></script>
    <script src="bower_components/angular-schema-form-ui-select/angular-underscore.js"></script>
    <script src="bower_components/angular-schema-form-ui-select/ui-sortable.js"></script>
    <script src="bower_components/angular-schema-form-ui-select/bootstrap-ui-select.js"></script>
    <script src="bower_components/angular-schema-form-marked/bootstrap-marked.js"></script>
    <script src="bower_components/angular-schema-form-ui-ace/bootstrap-ui-ace.js"></script>
    <script src="bower_components/schema-form-datetimepicker/date.js"></script>
    <script src="bower_components/schema-form-datetimepicker/schema-form-date-time-picker.min.js"></script>
    <script src="bower_components/angular-schema-form-file-reader/bootstrap-file-reader.min.js"></script>
    <script src="bower_components/momentjs/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/ui-bootstrap-custom-tpls-0.12.0.js"></script>
    <script src="scripts/toaster.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/locale_en-us.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/filters.js"></script>
    <script src="scripts/directives.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/signin.js"></script>
    <script src="scripts/controllers/classFeed.js"></script>
    <script src="scripts/controllers/contact.js"></script>
    <script src="scripts/controllers/menu.js"></script>
    <script src="scripts/controllers/form.js"></script>
    <script src="scripts/controllers/blog.js"></script>
    <script src="scripts/controllers/page.js"></script>
    <script src="scripts/controllers/forum.js"></script>
    <!-- endbuild -->
</body>
</html>
