<script type='text/javascript'>
    angular.module('lightApp').controller('com.networknt.light.UserHomeCtrl', ['$scope', '$http', '$location', 'toaster', 'modelDataService', function ($scope, $http, $location, toaster, modelDataService) {
        $scope.getAllPage = {
            category : 'page',
            name : 'getAllPage',
            readOnly: true
        };
        $scope.delPage = {
            category : 'page',
            name : 'delPage',
            readOnly: false,
            data: {}
        };
        $scope.pages = [];
        $scope.headers = [
            {
                title: 'Check All',
                value: 'checkAll'
            },
            {
                title: 'Id',
                value: 'id'
            },
            {
                title: 'Host',
                value: 'host'
            },
            {
                title: 'Create User Id',
                value: 'createUserId'
            },
            {
                title: 'Create Date',
                value: 'createDate'
            },
            {
                title: 'Update User Id',
                value: 'updateUserId'
            },
            {
                title: 'Update Date',
                value: 'updateDate'
            }
        ];
        $scope.sort = {
            sortDir : 'desc',
            sortedBy : 'updateDate'
        };
        $scope.filter = {};
        $scope.selectedAll = false;

        $scope.checkAll = function () {
            $scope.selectedAll = !$scope.selectedAll;
            angular.forEach($scope.pages, function(page) {
                page.selected = $scope.selectedAll;
            })
        };

        $scope.delete = function() {
            var ids = '';
            var selected = false;
            angular.forEach($scope.pages, function(page) {
                if(page.selected) {
                    selected = true;
                    $scope.delPage.data = page;
                    $http.post('api/rs', $scope.delPage)
                            .success(function (result, status, headers, config) {
                                ids = ids + page.id + ' ';

                            }).error(function (data, status, headers, config) {
                                toaster.pop('error', 'data', data, 3000);
                            }
                    );
                }
            });
            if(selected) {
                $scope.fetchResult();
                toaster.pop('success', 'data', ids, 3000);
            } else {
                toaster.pop('error', 'data', "Nothing is selected to delete!", 3000);
            }
        };

        //call back function that we passed to our custom directive sortBy, will be called when clicking on any field to sort
        $scope.onSort = function (sortedBy, sortDir) {
            $scope.sort.sortDir = sortDir;
            $scope.sort.sortedBy = sortedBy;
        };

        $scope.update = function(index) {
            console.log(index);
            if(angular.isDefined(index)) {
                var page = $scope.pages[index];
                modelDataService.setModelData(page);
                $location.path("/form/com.networknt.light.page.update");
            }
        };

        $scope.updateProfile = function() {
            $location.path("/form/com.networknt.light.user.update.profile");
        };

        $scope.changePassword = function() {
            $location.path("/form/com.networknt.light.user.change.password");
        };

        //The function that is responsible of fetching the result from the server and setting the grid to the new result
        $scope.fetchResult = function () {
            $http.post('api/rs', $scope.getAllPage)
                    .success(function (result, status, headers, config) {
                        $scope.pages = result;
                        console.log($scope.pages);
                    }).error(function (data, status, headers, config) {
                        toaster.pop('error', status, data, 5000);
                    }
            );
        };
        $scope.fetchResult();
    }]);
</script>
<div class="container" ng-controller="com.networknt.light.UserHomeCtrl">
    <div class="row">
        <div class="col-md-12">
            <tabset>
                <tab heading="Profile">
                    <h1>Profile</h1>
                    <a ng-click="updateProfile()" href="#">Update Profile</a>
                    <a ng-click="changePassword()" href="#">Change Password</a>
                </tab>
                <tab heading="Event History">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in headers">
                                <sort-by onsort="onSort" sortdir="sort.sortDir" sortedby="sort.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input ng-model="selectedAll" ng-click="checkAll()" type="checkbox" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="filter.id" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="filter.host" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="filter.createUserId" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="filter.createDate" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="filter.updateUserId" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="filter.updateDate" type="text" /></td>
                        </tr>
                        <tr ng-repeat="page in pages | filter: filter | orderBy: sort.sortedBy">
                            <td><input type="checkbox" ng-model="page.selected" /></td>
                            <td><a href ng-click="update($index)">{{page.id}}</a></td>
                            <td>{{page.host}}</td>
                            <td>{{page.createUserId}}</td>
                            <td>{{page.createDate}}</td>
                            <td>{{page.updateUserId}}</td>
                            <td>{{page.updateDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
                <tab heading="Bookmark">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in headers">
                                <sort-by onsort="onSort" sortdir="sort.sortDir" sortedby="sort.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input ng-model="selectedAll" ng-click="checkAll()" type="checkbox" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="filter.id" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="filter.host" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="filter.createUserId" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="filter.createDate" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="filter.updateUserId" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="filter.updateDate" type="text" /></td>
                        </tr>
                        <tr ng-repeat="page in pages | filter: filter | orderBy: sort.sortedBy">
                            <td><input type="checkbox" ng-model="page.selected" /></td>
                            <td><a href ng-click="update($index)">{{page.id}}</a></td>
                            <td>{{page.host}}</td>
                            <td>{{page.createUserId}}</td>
                            <td>{{page.createDate}}</td>
                            <td>{{page.updateUserId}}</td>
                            <td>{{page.updateDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
</div> <!-- /container -->
