<script type='text/javascript'>
    angular.module('lightApp').controller('com.networknt.light.RoleAdminHomeCtrl', ['$scope', '$http', '$location', 'toaster', 'modelDataService', function ($scope, $http, $location, toaster, modelDataService) {
        $scope.getRole = {
            category : 'role',
            name : 'getRole',
            readOnly: true
        };
        $scope.delRole = {
            category : 'role',
            name : 'delRole',
            readOnly: false
        };
        $scope.roles = [];
        $scope.hosts = [];

        $scope.headers = [
            {
                title: 'Delete',
                value: 'delete'
            },
            {
                title: 'RoleId',
                value: 'roleId'
            },
            {
                title: 'Host',
                value: 'host'
            },
            {
                title: "Description",
                value: "description"
            },
            {
                title: 'Create User Id',
                value: 'createUserId'
            },
            {
                title: 'Create Date',
                value: 'createDate'
            },
            {
                title: 'Update User Id',
                value: 'updateUserId'
            },
            {
                title: 'Update Date',
                value: 'updateDate'
            }
        ];
        $scope.sort = {
            sortDir : 'desc',
            sortedBy : 'createDate'
        };
        $scope.filter = {};

        $scope.onSort = function (sortedBy, sortDir) {
            $scope.sort.sortDir = sortDir;
            $scope.sort.sortedBy = sortedBy;
        };

        $scope.delete = function(role) {
            $scope.delRole.data = role;
            $http.post('api/rs', $scope.delRole)
                    .success(function (data, status, headers, config) {
                        $scope.roles.splice($scope.roles.indexOf(role), 1);
                        toaster.pop('success', status, data, 3000);
                    })
        };


        $scope.update = function(role) {
            modelDataService.setModelData(role);
            $location.path("/form/com.networknt.light.role.update");
        };

        $scope.add = function() {
            $location.path("/form/com.networknt.light.role.add");
        };

        $scope.fetchResult = function () {
            $http.post('api/rs', $scope.getRole)
                    .success(function (result, status, headers, config) {
                        $scope.roles = result.roles;
                        $scope.hosts = result.hosts;
                        //console.log($scope.roles);
                    })
        };
        $scope.fetchResult();
    }]);
</script>
<div class="container" ng-controller="com.networknt.light.RoleAdminHomeCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-info" ng-click="add()"><i class="glyphicon glyphicon-edit"></i>Add</button>
            </div>
            <tabset>
                <tab heading="Roles">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in headers">
                                <sort-by onsort="onSort" sortdir="sort.sortDir" sortedby="sort.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td><input ng-model="filter.roleId" type="text" /></td>
                            <td>
                                <select ng-model="filter.host" ng-options="host for host in hosts" >
                                    <option value=""> </option>
                                </select>
                            </td>
                            <td><input ng-model="filter.description" type="text" /></td>
                            <td><input ng-model="filter.createUserId" type="text" /></td>
                            <td><input ng-model="filter.createDate" type="text" /></td>
                            <td><input ng-model="filter.updateUserId" type="text" /></td>
                            <td><input ng-model="filter.updateDate" type="text" /></td>
                        </tr>
                        <tr ng-repeat="role in roles | filter: filter | orderBy: sort.sortedBy">
                            <td><a href ng-click="delete(role)">Delete</a></td>
                            <td><a href ng-click="update(role)">{{role.roleId}}</a></td>
                            <td>{{role.host}}</td>
                            <td>{{role.description}}</td>
                            <td>{{role.createUserId}}</td>
                            <td>{{role.createDate}}</td>
                            <td>{{role.updateUserId}}</td>
                            <td>{{role.updateDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
</div> <!-- /container -->
