<script type='text/javascript'>

    'use strict';

    angular.module('lightApp').controller('com.networknt.light.c.ForumCtrl', ['$scope', '$http', '$location', '$filter', 'toaster', 'modelDataService', function ($scope, $http, $location, $filter, toaster, modelDataService) {
        $scope.getForum = {
            category: 'forum',
            name: 'getForumTree',
            readOnly: true
        };

        $scope.fetchResult = function () {
            $http.get('api/rs', {params: {cmd: encodeURIComponent(JSON.stringify($scope.getForum))}})
                    .success(function (result, status, headers, config) {
                        $scope.forums = result;
                        console.log($scope.forums);
                    })
        };
        $scope.fetchResult();

        $scope.toggle = function (scope) {
            scope.toggle();
        };

        var getRootNodesScope = function () {
            return angular.element(document.getElementById("tree-root")).scope();
        };

        $scope.collapseAll = function () {
            var scope = getRootNodesScope();
            scope.collapseAll();
        };

        $scope.expandAll = function () {
            var scope = getRootNodesScope();
            scope.expandAll();
        };

        $scope.treeFilter = $filter('uiTreeFilter');

        $scope.supportedFields = ['categoryId', 'description'];

        $scope.gotoForum = function (categoryId) {
            modelDataService.setModelData(categoryId);
            $location.path("/page/com-networknt-light-v-forum-post");
        }

    }]);
</script>
<div class="container" data-ng-controller="com.networknt.light.c.ForumCtrl">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <h4 class="page-header">Forum</h4>
            <div>
                <a href="" class="btn btn-default pull-right" ng-click="collapseAll()">Collapse all</a>
                <a href="" class="btn btn-default pull-right" ng-click="expandAll()">Expand all</a>
                <input ng-model="pattern" placeholder="Type a part of any forum"/>
            </div>
            <!-- Nested node template -->
            <script type="text/ng-template" id="nodes_renderer.html">
                <div ui-tree-handle class="tree-node tree-node-content">
                    <a class="btn btn-success btn-xs" ng-if="node.out_Own && node.out_Own.length > 0" data-nodrag
                       ng-click="toggle(this)"><span class="glyphicon"
                                                     ng-class="{'glyphicon glyphicon-plus': collapsed, 'glyphicon glyphicon-minus': !collapsed}"></span></a>
                    <!--{{node.id | highlight:pattern | trust}}-->
                    <a href ng-click="gotoForum(node.categoryId)" ng-bind-html="node.categoryId | highlight:pattern | trust"></a>
                    <small ng-bind-html="node.description | highlight:pattern | trust"></small>
                </div>
                <ol ui-tree-nodes="" ng-model="node.out_Own" ng-class="{hidden: collapsed}">
                    <li ng-repeat="node in node.out_Own" ui-tree-node ng-include="'nodes_renderer.html'"
                        ng-hide="!treeFilter(node, pattern, supportedFields)"></li>
                </ol>
            </script>
            <div ui-tree data-drag-enabled=false id="tree-root">
                <ol ui-tree-nodes ng-model="forums">
                    <li ng-repeat="node in forums" ui-tree-node ng-include="'nodes_renderer.html'"
                        ng-hide="!treeFilter(node, pattern, supportedFields)"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
