<script type='text/javascript'>
    angular.module('lightApp').controller('com.networknt.light.ForumPostCtrl', ['$scope', '$http', '$location', '$filter', 'toaster', 'modelDataService', function ($scope, $http, $location, $filter, toaster, modelDataService) {
        $scope.getForumPost = {
            category: 'forum',
            name: 'getForumPost',
            readOnly: true,
            data: {}
        }

        $scope.posts = [];
        $scope.forums = [];

        $scope.fetchResult = function () {
            $scope.getForumPost.data.categoryId = modelDataService.getModelData();
            modelDataService.setModelData(null); // reset the modelDataService variable.
            $http.post('api/rs', $scope.getForumPost)
                    .success(function (result, status, headers, config) {
                        $scope.posts = result;
                        console.log($scope.posts);
                    })
        };
        $scope.fetchResult();

        $scope.post = function () {
            $location.path("/form/com.networknt.light.forum.post.add/" + $scope.getForumPost.data.categoryId);
        };

        $scope.view = function (post) {
            modelDataService.setModelData(post);
            $location.path("/page/com-networknt-light-v-forum-post-view");
        };

    }]);
</script>
<div class="container" ng-controller="com.networknt.light.ForumPostCtrl">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="pull-right">
                <button class="btn btn-info" ng-click="post()"><i class="glyphicon glyphicon-edit"></i>Post</button>
            </div>
            <tabset>
                <tab heading="Recent">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="post in posts | filter: filter | orderBy: sort.sortedBy">
                            <td><a href ng-click="view(post)">{{post.title}}</a></td>
                        </tr>
                        <tr>
                            <td>{{post.createUser}} {{post.updateDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
                <tab heading="Bookmark">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="post in posts | filter: filter | orderBy: sort.sortedBy">
                            <td>
                                <div><a href ng-click="view(post)">{{post.title}}</a></div>
                                <div>{{post.createUser}} {{post.createDate}}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
</div> <!-- /container -->
