<script type='text/javascript'>
    'use strict';
    angular.module('lightApp').controller('com.networknt.light.BlogHomeCtrl', ['$scope', '$http', '$location', '$filter', 'authService', 'toaster', 'modelDataService', function ($scope, $http, $location, $filter, authService, toaster, modelDataService) {

	$scope.blogs = [];

        var getBlogTree = {
            category : 'blog',
            name : 'getBlogTree',
            readOnly: true
        };

        $scope.fetchResult = function () {
            $http.get('api/rs', {params: { cmd: encodeURIComponent(JSON.stringify(getBlogTree))}})
                .success(function (result, status, headers, config) {
                    $scope.blogs = result;
                })
        };

        $scope.fetchResult();

        $scope.gotoBlog = function(blog) {
            modelDataService.setModelData({blog: blog});
            $location.path("/page/com-networknt-light-v-blog-view");
        }
    }]);
</script>
<div class="container" data-ng-controller="BlogCtrl">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1>
                    Network NT Official Blogs
                </h1>
                <p>
                    Learn more about the Light Framework.
                </p>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-6 col-sm-6 col-md-6 column text-left">
            <ol class="breadcrumb" style="background-color:white; padding-left:0px;">
                <li class="active">Blogs</li>
            </ol>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 column text-right">
            <input ng-model="pattern" placeholder=" &#xE003; Search Blogs" style="font-family: Helvetica, Glyphicons Halflings;"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 column">
            <div class="ui three cards">
                <a class="green card" ng-repeat="blog in pagedBlogs | limitTo:itemsPerPage | filter:pattern" ng-click="goToBlog({{blog}})" style="text-decoration:none;">
                    <div class="content">
                        <div class="header text-center">
                            {{blog.categoryId}}
                        </div>
                        <div class="description text-center" style="word-wrap: break-word;">
                            {{blog.description}}
                        </div>

                    </div>
                    <div class="extra content">
                        {{blog.out_HasPost.length || 0}} Posts
                    </div>
                    <div class="ui bottom attached button">
                        <button type="button" class="btn btn-default" style="width:100%; text-align:center;" ng-click="goToBlog({{blog}})">Read More</button>
                    </div>
                </a>
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <center>
                <pagination ng-model="currentPage" total-items="(blogs | filter:pattern).length" items-per-page="itemsPerPage" ng-change="pageChanged()"></pagination>
            </center>
        </div>
    </div>
</div>
