<script type='text/javascript'>
    (function(angular) {
        'use strict';
        angular.module('lightApp').controller('com.networknt.light.UserAdminHomeCtrl', ['$scope', '$http', '$location', 'toaster', 'modelDataService', function ($scope, $http, $location, toaster, modelDataService) {
            $scope.getAllUser = {
                category : 'user',
                name : 'getAllUser',
                readOnly: true,
                data : {
                    pageSize : 10,
                    pageNo : 1,
                    sortDir : 'desc',
                    sortedBy : 'createDate'
                }
            };
            $scope.delUser = {
                category : 'user',
                name : 'delUser',
                readOnly: false
            };
            $scope.lockUser = {
                category : 'user',
                name : 'lockUser',
                readOnly: false
            };
            $scope.unlockUser = {
                category : 'user',
                name : 'unlockUser',
                readOnly: false
            };

            $scope.page = { maxSize: 10, totalItems: 0, numPages: 0 };
            $scope.users = [];
            $scope.roles = [];
            $scope.hosts = [];

            $scope.headers = [
                {
                    title: 'Delete',
                    value: 'delete'
                },
                {
                    title: 'Locked',
                    value: 'locked'
                },
                {
                    title: 'User Id',
                    value: 'userId'
                },
                {
                    title: 'Host',
                    value: 'host'
                },
                {
                    title: 'Roles',
                    value: 'roles'
                },
                {
                    title: 'Email',
                    value: 'email'
                },
                {
                    title: 'First Name',
                    value: 'firstName'
                },
                {
                    title: 'Last Name',
                    value: 'lastName'
                },
                {
                    title: 'Up Users',
                    value: 'upUsers'
                },
                {
                    title: 'Down Users',
                    value: 'downUsers'
                },
                {
                    title: 'Karma',
                    value: 'karma'
                },
                {
                    title: 'Create Date',
                    value: 'createDate'
                },
                {
                    title: 'Update Date',
                    value: 'updateDate'
                },
                {
                    title: 'Log in Date',
                    value: 'logInDate'
                },
                {
                    title: 'Log out Date',
                    value: 'logOutDate'
                }
            ];

            $scope.fetchResult = function () {
                $http.get('api/rs', {params: {cmd: encodeURIComponent(JSON.stringify($scope.getAllUser))}})
                        .success(function (result, status, headers, config) {
                            $scope.users = result.users;
                            $scope.roles = result.roles;
                            $scope.hosts = result.hosts;
                            $scope.page.totalItems = result.total;
                            //console.log($scope.users);
                            console.log($scope.roles);
                            console.log($scope.hosts);
                            //console.log($scope.page.totalItems);
                            $scope.page.numPages = Math.ceil($scope.page.totalItems / $scope.getAllUser.data.pageSize);
                            //console.log($scope.page.numPages);
                        })
            };

            $scope.onUserSort = function (sortedBy, sortDir) {
                $scope.getAllUser.data.sortDir = sortDir;
                $scope.getAllUser.data.sortedBy = sortedBy;
                $scope.getAllUser.data.pageNo = 1;
                $scope.fetchResult();
            };

            //Will be called when filtering the grid, will reset the page number to one
            $scope.filterResult = function () {
                $scope.getAllUser.data.pageNo = 1;
                $scope.fetchResult();
            };

            $scope.pageChanged = function() {
                $scope.fetchResult();
            };

            $scope.lock = function(user) {
                $scope.lockUser.data = user;
                $http.post('api/rs', $scope.lockUser)
                        .success(function (data, status, headers, config) {
                            user.locked = true;
                            toaster.pop('success', status, data, 3000);
                        })
            };

            $scope.unlock = function(user) {
                $scope.unlockUser.data = user;
                $http.post('api/rs', $scope.unlockUser)
                        .success(function (data, status, headers, config) {
                            user.locked = false;
                            toaster.pop('success', status, data, 3000);
                        })
            };

            $scope.delete = function(user) {
                $scope.delUser.data = user;
                $http.post('api/rs', $scope.delUser)
                        .success(function (data, status, headers, config) {
                            $scope.users.splice($scope.users.indexOf(user), 1);
                            toaster.pop('success', status, data, 3000);
                        })
            };

            $scope.update = function(user) {
                modelDataService.setModelData(user);
                $location.path("/page/com-networknt-light-v-user-admin-update");
            };

            $scope.pageChanged();
        }]);
    })(window.angular);
</script>
<div class="container" ng-controller="com.networknt.light.UserAdminHomeCtrl">
    <div class="row">
        <div class="col-md-12">
            <tabset>
                <tab heading="Users">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in headers">
                                <sort-by onsort="onUserSort" sortdir="getAllUser.data.sortDir" sortedby="getAllUser.data.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getAllUser.data.locked" type="checkbox" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getAllUser.data.userId" type="text" /></td>
                            <td>
                                <select ng-change="filterResult()" ng-model="getAllUser.data.host" ng-options="host for host in hosts" >
                                    <option value=""></option>
                                </select>
                            </td>
                            <td>
                                <select ng-change="filterResult()" ng-model="getAllUser.data.roles" ng-options="role for role in roles" >
                                    <option value=""></option>
                                </select>
                            </td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getAllUser.data.email" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getAllUser.data.firstName" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getAllUser.data.lastName" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getAllUser.data.upUsers" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getAllUser.data.downUsers" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getAllUser.data.karma" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getAllUser.data.createDate" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getAllUser.data.updateDate" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getAllUser.data.logInDate" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getAllUser.data.logOutDate" type="text" /></td>
                        </tr>
                        <tr ng-repeat="user in users">
                            <td><a href ng-click="delete(user)">Delete</a></td>
                            <td><a href ng-click="lock(user)">{{user.locked}}</a></td>
                            <td><a href ng-click="update(user)">{{user.userId}}</a></td>
                            <td>{{user.host}}</td>
                            <td>{{user.roles}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.upUsers}}</td>
                            <td>{{user.downUsers}}</td>
                            <td>{{user.karma}}</td>
                            <td>{{user.createDate}}</td>
                            <td>{{user.updateDate}}</td>
                            <td>{{user.logInDate}}</td>
                            <td>{{page.logOutDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination total-items="page.totalItems" items-per-page="getAllUser.data.pageSize" ng-model="getAllUser.data.pageNo" max-size="page.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="page.numPages" ng-change="pageChanged()"></pagination>
                    <table>
                        <tr>
                            <td>Page: {{getAllUser.data.pageNo}} / {{page.numPages}}</td>
                            <td>&nbsp;</td>
                            <td>Page Size:</td>
                            <td><input type="number" min="1" max="200" ng-change="filterResult()" ng-model="getAllUser.data.pageSize"></td>
                        </tr>
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
</div> <!-- /container -->
