<script type='text/javascript'>
    angular.module('lightApp').controller('com.networknt.light.ForumPostViewCtrl', ['$scope', '$http', '$location', 'authService', '$filter', 'toaster', 'modelDataService', function ($scope, $http, $location, authService, $filter, toaster, modelDataService) {

        $scope.postData = modelDataService.getModelData().post;
        $scope.comments = [];

        $scope.getComments = {
            category: 'comment',
            name: 'getComment',
            readOnly: true,
            data: {}
        };

        $scope.addComment = {
            category: 'comment',
            name: 'addComment',
            readOnly: false,
            data: {}
        };

        $scope.displayAddCommentRow = false;
        $scope.displaySubmitCommentButton = false;
        $scope.addCommentText = 'Reply';
        $scope.addCommentClass = 'btn btn-info';
        $scope.addCommentGlyph = 'glyphicon glyphicon-plus';

        $scope.toggleComment = function() {
            $scope.displayAddCommentRow = !$scope.displayAddCommentRow;
            if ($scope.addCommentText == 'Reply') {
                $scope.addCommentText = 'Cancel';
                $scope.addCommentClass = 'btn btn-danger';
                $scope.addCommentGlyph = '';
            } else {
                $scope.addCommentText = 'Reply';
                $scope.addCommentClass = 'btn btn-info';
                $scope.addCommentGlyph = 'glyphicon glyphicon-plus';
            }
        };

        $scope.getCurrentUserId = function () {
            return authService.authentication.currentUser.userId;
        };

        $scope.fetchComments = function () {
            $scope.getComments.data["host"] = $scope.postData.host;
            $scope.getComments.data["@rid"] = $scope.postData["@rid"];
            $http.post('api/rs', $scope.getComments)
                .success(function (result, status, headers, config) {
                    $scope.comments = result.comments;
                })
                .error(function (result, status, headers, config) {
                    // error fetching comments, set comments to empty list.
                    $scope.comments = [];
                });
        };

        $scope.fetchComments();

        $scope.submitComment = function () {
            var commentContent = document.getElementById("newUserComment").value;
            console.log("adding comment", commentContent);
            if (commentContent != null && commentContent.length > 0) {
                $scope.addComment.data["host"] = $scope.postData.host;
                $scope.addComment.data["@rid"] = $scope.postData["@rid"];
                $scope.addComment.data.comment = commentContent;
                $http.post('api/rs', $scope.addComment)
                    .success(function (result, status, headers, config) {
                        $scope.fetchComments();
                        document.getElementById("newUserComment").value = "";
                        $scope.toggleComment();
                    })
                    .error(function (result, status, headers, config) {
                        // TODO: think of what to do here...
                        console.log("submitComment error, result:", result);
                    });
            }
        };

    }]);
</script>
<div class="container" ng-controller="com.networknt.light.ForumPostViewCtrl">
    <h2>{{postData.title}}</h2>
    <p>By: {{postData.createUserId}}. Published on: {{postData.createDate}}</p>
    <pre>{{postData.content}}</pre>

    <br />
    <label>Replies:</label>
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr ng-repeat="comment in comments" style="height:100px;">
                <td width="1%">
                    <label>{{comment.createUserId}}:</label>
                </td>
                <td style="position:relative;">
                    <comment>{{comment.content}}</comment>
                    <span style="position:absolute;right:10px;bottom:10px;">
                        <span class="glyphicon glyphicon-share-alt" style="color:rgb(91,192,222); float:right; width:20px;"></span>
                        <span class="glyphicon glyphicon-thumbs-down" style="color:red; float:right; width:20px;"></span>
                        <span class="glyphicon glyphicon-thumbs-up" style="color:green; float:right; width:20px;"></span>
                    </span>
                </td>
            </tr>
            <!--
            <tr style="height:100px;">
                <td width="1%" >
                    <label>Nicholas:</label>
                </td>
                <td style="position:relative;">
                    <comment>Great post.</comment>
                    <span style="position:absolute;right:10px;bottom:10px;">
                        <span class="glyphicon glyphicon-share-alt" style="color:rgb(91,192,222); float:right; width:20px;"></span>
                        <span class="glyphicon glyphicon-thumbs-down" style="color:red; float:right; width:20px;"></span>
                        <span class="glyphicon glyphicon-thumbs-up" style="color:green; float:right; width:20px;"></span>
                    </span>
                </td>
            </tr>
            <tr style="height:20px">
            </tr>
            <tr style="height:100px;">
                <td width="1%">
                    <label>stevehu:</label>
                </td>
                <td style="position:relative;">
                    <comment>Thank you!</comment>
                    <span style="position:absolute;right:10px;bottom:10px;">
                        <span class="glyphicon glyphicon-share-alt" style="color:rgb(91,192,222); float:right; width:20px;"></span>
                        <span class="glyphicon glyphicon-thumbs-down" style="color:red; float:right; width:20px;"></span>
                        <span class="glyphicon glyphicon-thumbs-up" style="color:green; float:right; width:20px;"></span>
                    </span>
                </td>
            </tr>
            <tr style="height:20px">
            </tr>-->
            <!-- The rest of the current post content... -->
            <!-- Then at the end -->
            <tr style="height:100px;" ng-show="displayAddCommentRow">
                <td width="1%">
                    <label>{{getCurrentUserId()}}:</label>
                </td>
                <td style="position:relative;">
                    <comment><textarea id="newUserComment" type="text" spellcheck="true" style="width:100%;"/></comment>
                    <span style="position:absolute;right:10px;bottom:10px;">
                        <span class="glyphicon glyphicon-share-alt" style="color:rgb(91,192,222); float:right; width:20px;"></span>
                        <span class="glyphicon glyphicon-thumbs-down" style="color:red; float:right; width:20px;"></span>
                        <span class="glyphicon glyphicon-thumbs-up" style="color:green; float:right; width:20px;"></span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pull-right">
        <button ng-class="addCommentClass" ng-click="toggleComment()" style="float:right;">
            <span ng-class="addCommentGlyph" style="padding-right:5px;"></span>
            {{addCommentText}}
        </button>
        <button class="btn btn-success" ng-click="submitComment()" style="float:right;" ng-show="displayAddCommentRow">
            Submit
        </button>
    </div>
    </div>
</div> <!-- /container -->
