<script type='text/javascript'>
    angular.module('lightApp').controller('com.networknt.light.DbAdminHomeCtrl', ['$scope', '$http', '$location', 'toaster', 'modelDataService', function ($scope, $http, $location, toaster, modelDataService) {

        $scope.execCommand = {
            category : 'db',
            name : 'execCommand',
            readOnly: false,
            data: {}
        };

        $scope.exportDb = {
            category : 'db',
            name : 'exportDb',
            readOnly: true,
            data: {}
        };
        $scope.replayEvent = {
            category : 'db',
            name : 'replayEvent',
            readOnly: false,
            data: {}
        };

        $scope.downloadEvent = {
            category : 'db',
            name : 'downloadEvent',
            readOnly: true,
            data: {}
        };

        $scope.exportDb = function() {
            console.log("go to exportDb form");
            $location.path('/form/com.networknt.light.db.exportDb');
        };

        $scope.execCommand = function() {
            $location.path('/form/com.networknt.light.db.execCommand');
        };

        $scope.replayEvent = function() {
            $location.path('/form/com.networknt.light.db.replayEvent');
        };

        $scope.downloadEvent = function() {
            $location.path('/page/com-networknt-light-v-db-event-download');
        };

    }]);
</script>
<div class="container" ng-controller="com.networknt.light.DbAdminHomeCtrl">
    <div class="row">
        <div class="col-md-12">
            <tabset>
                <tab heading="Event">
                    <h1>Event</h1>
                    <p><a ng-click="exportDb()" href="">Export Database</a></p>
                    <p><a ng-click="execCommand()" href="">Exec Commands</a></p>
                    <p><a ng-click="downloadEvent()" href="">Download Events</a></p>
                    <p><a ng-click="replayEvent()" href="">Replay Events</a></p>
                </tab>
                <tab heading="Database Statistic">
                    <table class="table table-striped">
                    </table>
                </tab>
                <tab heading="Bookmark">
                    <table class="table table-striped">
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
</div> <!-- /container -->
