<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Develop your first view</h1>
            <p>
                Once you have installed development environment following above steps, you should have the following folders in your working directory and java projects in each folder have been built using maven.

            <ul>light</ul>
            <ul>jsontoken</ul>
            <ul>rule-engine</ul>

            If you are a full stack developer, you can start the server from your ide in debug mode so that you can monitor the interaction between the browser and the server. Open/import maven project in light folder and start the server in debug mode at server/src/main/java/com/networknt/light/server/LightServer.java
            <p>
            If you are just a front end develop, you can go to light/server/target and run
        <pre>
            java -jar light-server.jar
        </pre>

            The server provides the REST API endpoints and of cause supply the static and javascript content; however, in order to speed up the front end development, you can use gulp webserver as a proxy to the Light Server and provide live load on your browser if files are updated.
            <p>
            To start the proxy web server, go to view folder under light
        <pre>
            cd view
            npm install
            bower install
            gulp webserver
        </pre>
            A browser will be started automatically at this point. I am using Google Chrome as my default browser and you can use your preferred browser. Let update a static page for example this tutorial.

            <p>
            Click the first "Learn more" button on the home page and click create your first view link, you will see this page on your browser. Open view/src/com-networknt-light-v-first-view.html in your editor and update something and save, you will see your browser refreshed automatically to reflect your changes.
            <p>
            Page/view is a deployment unit in Light Framework and it should be deployed on the server database on official test environment and production. But for development, we want productivity so everything should be working locally with local server support. Here is Angular route for page in app.js under script.
        <pre>
      .when('/page/:id', {
        templateUrl: 'views/page.html',
        controller: 'pageCtrl'
      })
        </pre>
            As you can see, the url has /page and then a page id which is the filename you are editing on the file system without .html extension. Let's take a look at page.html template in views folder.
        <pre>
        &lt;div dynamic='html'&gt;&lt;/div&gt;
        </pre>
        It is a dynamic directive to render html and javascript. The following is the controller for the page.
            <pre>
'use strict';

/**
 * This is a generic page controller. It handles pages without special handling.
 * Pages are always loaded from file system first from /src folder, if it cannot be found then they are
 * loaded from the database by REST API calls. This is the dev environment and production is always loaded
 * from REST API.
 */
angular.module('lightApp').controller('pageCtrl', ['$scope', '$routeParams', '$http', 'toaster', 'modelDataService', function($scope, $routeParams, $http, toaster, modelDataService) {

    console.log('id =', $routeParams.id);
    console.log('file =', '/' + $routeParams.id + '.html');

    var getPage = {
        category : 'page',
        name : 'getPage',
        readOnly: true,
        data : {
            id : $routeParams.id
        }
    };


    $scope.html = '';
    $http.get('/src/' + $routeParams.id + '.html').success (function(data){
        $scope.html = data;
    }).error(function() {
        console.log("Could not load file from src folder, try REST API...");
        $http.get('api/rs', {params: { cmd: encodeURIComponent(JSON.stringify(getPage))}})
            .success(function (result, status, headers, config) {
                $scope.html = result.content;
            })
    })

}]);
            </pre>

            As you can see it look for the id + .html under src folder and it cannot find the file then ask the server REST API to get the page content. And this is the dynamic directive.
            <pre>
directive('dynamic', function ($compile) {
    return {
        restrict: 'A',
        replace: true,
        link: function (scope, ele, attrs) {
            scope.$watch(attrs.dynamic, function(html) {
                ele.html(html);
                $compile(ele.contents())(scope);
            });
        }
    };
});
            </pre>

            At this point you have a page updated and tested locally. Now you can import the page to your local server and capture the event in a file so that it can be deployed on other testing and production environment.
            <li>
                1. Go to Admin menu and click Page Admin. (login with stevehu/123456 to see the admin menu by default)
            </li>
            <li>
                2. All pages in database will be listed here and you can update them by click the id link or delete page by click delete link before the Page Id. There are two buttons on the up right corner to import a page or add a new page. Let's use import as it will overwrite the database version from imported version.
            </li>
            <li>
                3. Click Import button and enter id as the filename you edited without the .html and click choose file button to pick the file from src folder.
            </li>
            <li>
                4. Click Import Page button to get page imported into local server database.
            </li>
            <li>
                5. Click Db Admin from Admin menu and click Download Events link.
            </li>
            <li>
                6. Select from date/time and to date/time for the import page event and click Download Events
            </li>
            <li>
                7. An event or a list of events will be shown up in the text area on the page and you can save it into a file locally. If there are multiple events, remove the rest but only leave the last one in the json array.
            </li>
            <li>
                8. Now you have an event file and it can be replayed on other environment. Login to another server with owner userId and password and click Admin/Db Admin and click link Replay Events. Pick up the event file you just saved and click Replay Event button to get the page deployed to another environment.
            </li>

            Now you know how to update existing page and generate event file and replay it on another environment for deployment. What about brand new page? And how to refer the newly added page from other page or menu?

            Here is the html that has another page as a href link.
            <pre>

                &lt;a href="/page/com-networknt-light-v-first-view"&gt;Create your first view&lt;/a&gt;
            </pre>

            To link a page to a menu item, go to Admin/Menu Admin and click Menu Items tab and you can update an existing menu item or create a new one and link it to a parent menu. You need to have a label and path will be the page URL like
            <pre>
                /page/com-networknt-light-v-news-admin-home
            </pre>

            Now you know how to update a static page, create a new static page and link it from another page or menu.How about dynamic Angular page? Can I have controllers, filters and directives in my page? The answer is YES. Let's take a look at one dynamic page.

            <pre>
&lt;script type='text/javascript'>
    angular.module('lightApp').controller('com.networknt.light.ForumPostCtrl', ['$scope', '$http', '$location', '$filter', 'toaster', 'modelDataService', function ($scope, $http, $location, $filter, toaster, modelDataService) {
        $scope.getForumPost = {
            category : 'forum',
            name: 'getForumPost',
            readOnly: true,
            data: {}
        }

        $scope.posts = [];
        $scope.forums = [];

        $scope.fetchResult = function () {
            $scope.getForumPost.data.id = modelDataService.getModelData();
            modelDataService.setModelData(null); // reset the modelDataService variable.
            $http.post('api/rs', $scope.getForumPost)
                    .success(function (result, status, headers, config) {
                        $scope.posts = result;
                        console.log($scope.posts);
                    })
        };
        $scope.fetchResult();

        $scope.post = function() {
            $location.path("/form/com.networknt.light.forum.post.add/" + $scope.getForumPost.data.id);
        };

        $scope.view = function(post) {
            modelDataService.setModelData(post);
            $location.path("/page/com-networknt-light-v-forum-post-view");
        };

    }]);
&lt;/script&gt;
&lt;div class="container" ng-controller="com.networknt.light.ForumPostCtrl"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-xs-12 col-sm-12 col-md-12"&gt;
            &lt;div class="pull-right"&gt;
                &lt;button class="btn btn-info" ng-click="post()"&gt;&lt;i class="glyphicon glyphicon-edit"&gt;&lt;/i&gt;Post&lt;/button&gt;
                &lt;/div&gt;
            &lt;tabset&gt;
                &lt;tab heading="Recent"&gt;
                    &lt;table class="table table-striped"&gt;
                        &lt;thead&gt;
                        &lt;tr&gt;
                        &lt;/tr&gt;
                        &lt;/thead&gt;
                        &lt;tbody&gt;
                        &lt;tr ng-repeat="post in posts | filter: filter | orderBy: sort.sortedBy"&gt;
                            &lt;td&gt;&lt;a href ng-click="view(post)"&gt;{{post.title}}&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;td&gt;{{post.createUser}} {{post.updateDate}}&lt;/td&gt;
                &lt;/tr&gt;
                        &lt;/tbody&gt;
                    &lt;/table&gt;
                &lt;/tab&gt;
                &lt;tab heading="Bookmark"&gt;
                    &lt;table class="table table-striped"&gt;
                        &lt;thead&gt;
                        &lt;tr&gt;
                        &lt;/tr&gt;
                        &lt;/thead&gt;
                        &lt;tbody&gt;
                        &lt;tr ng-repeat="post in posts | filter: filter | orderBy: sort.sortedBy"&gt;
                            &lt;td&gt;
                                &lt;div&gt;&lt;a href ng-click="view(post)"&gt;{{post.title}}&lt;/a&gt;&lt;/div&gt;
        &lt;div&gt;{{post.createUser}} {{post.createDate}}&lt;/div&gt;
    &lt;/td&gt;
    &lt;/tr&gt;
    &lt;/tbody&gt;
    &lt;/table&gt;
    &lt;/tab&gt;
    &lt;/tabset&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;/div&gt; &lt;!-- /container --&gt;

            </pre>

            As you can see there is a controller in the page. Someone who is Angular developer might ask how come you can register your controller when the page is loaded dynamically? Is angular supposed to register all the controller at bootstrap time? Here is the trick to register controller once the page is loaded.
            I saved the Angular providers in variables and use them to register during runtime dynamically.

            <pre>
config(['$routeProvider', '$locationProvider', '$controllerProvider', '$compileProvider', '$filterProvider', '$provide', function ($routeProvider, $locationProvider, $controllerProvider, $compileProvider, $filterProvider, $provide) {

    // Notice that the registration methods on the
    // module are now being overridden by their provider equivalents
    lightApp.controller = $controllerProvider.register;
    lightApp.directive  = $compileProvider.directive;
    lightApp.filter     = $filterProvider.register;
    lightApp.factory    = $provide.factory;
    lightApp.service    = $provide.service;

            </pre>
            Now you know how to update, create static and dynamic views or pages in Light Framework and know how to deploy them to another environment. I also record a video to show you the steps described above and you can view it at

            <a href="http://youtu.be/fLCjboWLXgY">http://youtu.be/fLCjboWLXgY</a>
            <p>
            Happy designing.

        </div>
    </div>
</div>
