<script type='text/javascript'>
    angular.module('lightApp').controller('com.networknt.light.BlogAdminHomeCtrl', ['$scope', '$http', '$location', 'toaster', 'modelDataService', function ($scope, $http, $location, toaster, modelDataService) {
        $scope.getBlog = {
            category : 'blog',
            name : 'getBlog',
            readOnly: true
        };

        $scope.delBlog = {
            category : 'blog',
            name : 'delBlog',
            readOnly: false
        };

        $scope.blogs = [];

        $scope.headers = [
            {
                title: 'Delete',
                value: 'delete'
            },
            {
                title: 'Id',
                value: 'id'
            },
            {
                title: 'Desc',
                value: 'desc'
            },
            {
                title: 'Create User Id',
                value: 'createUserId'
            },
            {
                title: 'Create Date',
                value: 'createDate'
            },
            {
                title: 'Update User Id',
                value: 'updateUserId'
            },
            {
                title: 'Update Date',
                value: 'updateDate'
            }
        ];

        $scope.sort = {
            sortDir : 'desc',
            sortedBy : 'updateDate'
        };

        $scope.filter = {};

        $scope.onSort = function (sortedBy, sortDir) {
            $scope.sort.sortDir = sortDir;
            $scope.sort.sortedBy = sortedBy;
        };


        $scope.delete = function(blog) {
            $scope.delBlog.data = blog;
            $http.post('api/rs', $scope.delBlog)
                    .success(function (data, status, headers, config) {
                        $scope.blogs.splice($scope.blogs.indexOf(blog), 1);
                        toaster.pop('success', status, data, 3000);
                    })
        };

        $scope.add = function() {
            $location.path("/form/com.networknt.light.blog.add");
        };

        $scope.update = function(blog) {
            modelDataService.setModelData(blog);
            $location.path("/form/com.networknt.light.blog.update");
        };

        //The function that is responsible of fetching the result from the server
        $scope.fetchResult = function () {
            $http.post('api/rs', $scope.getBlog)
                    .success(function (result, status, headers, config) {
                        $scope.blogs = result;
                        //console.log($scope.blogs);
                    })
        };

        $scope.fetchResult();

    }]);
</script>

<div class="container" ng-controller="com.networknt.light.BlogAdminHomeCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-info" ng-click="add()"><i class="glyphicon glyphicon-edit"></i>Add</button>
            </div>
            <tabset>
                <tab heading="Recent">
                    <h4>Blog</h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in headers">
                                <sort-by onsort="onSort" sortdir="sort.sortDir" sortedby="sort.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td><input ng-model="filter.id" type="text" /></td>
                            <td><input ng-model="filter.desc" type="text" /></td>
                            <td><input ng-model="filter.createUserId" type="text" /></td>
                            <td><input ng-model="filter.createDate" type="text" /></td>
                            <td><input ng-model="filter.updateUserId" type="text" /></td>
                            <td><input ng-model="filter.updateDate" type="text" /></td>
                        </tr>
                        <tr ng-repeat="blog in blogs | filter: filter | orderBy: sort.sortedBy">
                            <td><a href ng-click="delete(blog)">Delete</a></td>
                            <td><a href ng-click="update(blog)">{{blog.id}}</a></td>
                            <td>{{blog.desc}}</td>
                            <td>{{blog.createUserId}}</td>
                            <td>{{blog.createDate}}</td>
                            <td>{{blog.updateUserId}}</td>
                            <td>{{blog.updateDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
</div> <!-- /container -->
