<script type='text/javascript'>
    'use strict';

    angular.module('lightApp').controller('com.networknt.light.c.ForumCtrl', ['$scope', '$http', '$location', '$filter', 'toaster', 'modelDataService', function ($scope, $http, $location, $filter, toaster, modelDataService) {
    $scope.getForum = {
        category : 'forum',
        name : 'getForumTree',
        readOnly: true
    };

    $scope.fetchResult = function () {
        $http.post('api/rs', $scope.getForum)
            .success(function (result, status, headers, config) {
                $scope.forums = result;
                console.log($scope.forums);
            })
    };
    $scope.fetchResult();

    $scope.toggle = function(scope) {
        scope.toggle();
    };

    var getRootNodesScope = function() {
        return angular.element(document.getElementById("tree-root")).scope();
    };

    $scope.collapseAll = function() {
        var scope = getRootNodesScope();
        scope.collapseAll();
    };

    $scope.expandAll = function() {
        var scope = getRootNodesScope();
        scope.expandAll();
    };

    $scope.treeFilter = $filter('uiTreeFilter');

    $scope.supportedFields = ['id', 'desc'];

    $scope.goToForum = function(id) {
        modelDataService.setModelData({
            forumId: id
            });
        $location.path("/page/com-networknt-light-v-forum-post");
    };

    }]);
</script>
<div class="container" data-ng-controller="com.networknt.light.c.ForumCtrl">
    <div class="jumbotron">
        <h2>Forums</h2>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div style="padding:15px">
                <span class="glyphicon glyphicon-search" style="padding-right:10px"></span><input ng-model="pattern" placeholder="Search"/>
                <!--<a href="" class="btn btn-default pull-right" ng-click="collapseAll()">Collapse all</a>-->
                <a href="" class="btn btn-default pull-right" ng-click="collapseAll()"><span class="glyphicon glyphicon-resize-small"></span></a>
                <a href="" class="btn btn-default pull-right" ng-click="expandAll()"><span class="glyphicon glyphicon-resize-full"></span></a>
            </div>
            <!-- Nested node template -->
            <script type="text/ng-template" id="nodes_renderer.html">
                <div ui-tree-handle class="tree-node tree-node-content">
                    <a class="btn btn-xs" ng-if="node.children && node.children.length > 0" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon glyphicon-plus': collapsed, 'glyphicon glyphicon-minus': !collapsed}"></span></a>
                    <!--{{node.id | highlight:pattern | trust}}-->
                    <a href ng-click="goToForum(node.id)" ng-bind-html="node.id | highlight:pattern | trust"></a>
                    <small ng-bind-html="node.desc | highlight:pattern | trust"></small>
                </div>
                <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
                    <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'" ng-hide="!treeFilter(node, pattern, supportedFields)"></li>
                </ol>
            </script>
            <div ui-tree data-drag-enabled="false" id="tree-root">
                <ol ui-tree-nodes ng-model="forums">
                    <li ng-repeat="node in forums" ui-tree-node ng-include="'nodes_renderer.html'" ng-hide="!treeFilter(node, pattern, supportedFields)"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
