<script type='text/javascript'>
    angular.module('lightApp').controller('blogPostCtrl', ['$scope', '$http', '$location', '$filter', 'toaster', 'modelDataService', function ($scope, $http, $location, $filter, toaster, modelDataService) {
        $scope.getBlogPost = {
            category : 'blog',
            name: 'getBlogPost',
            readOnly: true,
            data: {
                pageSize : 10,
                pageNo : 1,
                sortDir : 'desc',
                sortedBy : 'createDate'
            }
        }

        $scope.page = { maxSize: 10, totalItems: 0, numPages: 0 };

        $scope.posts = [];

        $scope.fetchResult = function () {
            $http.post('api/rs', $scope.getBlogPost)
                    .success(function (result, status, headers, config) {
                        $scope.posts = result.posts;
                        console.log($scope.posts);
                        $scope.page.totalItems = result.total;
                        console.log($scope.page.totalItems);
                        $scope.page.numPages = Math.ceil($scope.page.totalItems / $scope.getBlogPost.data.pageSize);
                        console.log($scope.page.numPages);
                    })
        };

        $scope.post = function() {
            $location.path("/form/com.networknt.light.blog.post");
        };

        $scope.update = function(post) {
            modelDataService.setModelData(post);
            $location.path("/form/com.networknt.light.blog.update");
        };

        $scope.view = function(post) {
            modelDataService.setModelData(post);
            $location.path("/page/com.networknt.light.blog.post.view");
        };

        $scope.pageChanged = function() {
            $scope.fetchResult();
        };

        $scope.pageChanged();

    }]);
</script>

<div class="container" ng-controller="blogPostCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right" ng-if="global.isLogin">
                <button class="btn btn-info" ng-click="post()"><i class="glyphicon glyphicon-edit"></i>Post</button>
            </div>
            <tabset>
                <tab heading="Recent">
                    <h4>Blog</h4>
                    <!--
                    <ul class="list-inline inner">
                        <li ng-repeat="tag in global.tagsList">
                            <a ng-href="{{'/'+tag._id}}" class="pure-button pure-button-xsmall info-bg">{{tag.tag}}</a>
                        </li>
                        <li>
                            <a href="/tag" class="pure-button pure-button-xsmall"><i class="fa fa-search"></i>more</a>
                        </li>
                    </ul>
                    -->
                    <pagination total-items="page.totalItems" items-per-page="getBlogPost.data.pageSize" ng-model="getBlogPost.data.pageNo" max-size="page.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="page.numPages" ng-change="pageChanged()"></pagination>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in headers">
                                <sort-by onsort="onUserSort" sortdir="getBlog.data.sortDir" sortedby="getBlog.data.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <select ng-change="filterResult()" ng-model="getBlog.data.host" ng-options="host for host in hosts" >
                                    <option value=""> </option>
                                </select>
                            </td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getBlog.data.title" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getBlog.data.rank" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getBlog.data.upUsers" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getBlog.data.downUsers" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getBlog.data.createUserId" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getBlog.data.createDate" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getBlog.data.updateDate" type="text" /></td>
                        </tr>
                        <tr ng-repeat="blog in blogs">
                            <td><a href ng-click="delete(blog)">Delete</a></td>
                            <td>{{blog.host}}</td>
                            <td><a href ng-click="update(blog)">{{blog.title}}</a></td>
                            <td>{{blog.rank}}</td>
                            <td>{{blog.upUsers}}</td>
                            <td>{{blog.downUsers}}</td>
                            <td>{{blog.createUserId}}</td>
                            <td>{{blog.createDate}}</td>
                            <td>{{blog.updateDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination total-items="page.totalItems" items-per-page="getBlog.data.pageSize" ng-model="getBlog.data.pageNo" max-size="page.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="page.numPages" ng-change="pageChanged()"></pagination>
                    <table>
                        <tr>
                            <td>Page: {{getBlogPost.data.pageNo}} / {{page.numPages}}</td>
                            <td>&nbsp;</td>
                            <td>Page Size:</td>
                            <td><input type="number" min="1" max="100" ng-change="filterResult()" ng-model="getBlogPost.data.pageSize"></td>
                        </tr>
                    </table>

                </tab>
                <tab heading="Hot">
                    <div>This is tab hot</div>
                </tab>
                <tab heading="Tag">
                    <div>This is tab updated</div>
                </tab>
                <tab heading="My posts" ng-if="global.isLogin">
                    <div>This is tab my posts</div>
                </tab>
            </tabset>
        </div>
    </div>
    <!--
    This will be done in a web component later.
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="inner list-inline">
                        <li>Total visits：{{global.visitors}}</li>
                        <li>Total articles: {{global.articles}}</li>
                        <li>Total comments: {{global.comments}}</li>
                        <li>Total members：{{global.users}}</li>
                        <li>Online users：{{global.onlineNum}}</li>
                        <li>Online members：{{global.onlineUsers}}</li>
                        <li>Max online users：{{global.maxOnlineNum}}</li>
                        <li>Online Since：{{global.maxOnlineTime  | date:'yy-MM-dd HH:mm'}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    -->
</div> <!-- /container -->
