<script type='text/javascript'>
angular.module('lightApp').controller('blogAdminHomeCtrl', ['$scope', '$http', '$location', 'toaster', 'modelDataService', function ($scope, $http, $location, toaster, modelDataService) {
    $scope.getBlog = {
        category : 'blog',
        name : 'getBlog',
        readOnly: true,
        data : {
            pageSize : 10,
            pageNo : 1,
            sortDir : 'desc',
            sortedBy : 'createDate'
        }
    };

    $scope.delBlog = {
        category : 'blog',
        name : 'delBlog',
        readOnly: false
    };

    $scope.page = { maxSize: 5, totalItems: 0, numPages: 0 };

    $scope.blogs = [];
    $scope.hosts = [];

    $scope.headers = [
        {
            title: 'Delete',
            value: 'delete'
        },
        {
            title: 'Host',
            value: 'host'
        },
        {
            title: 'Title',
            value: 'title'
        },
        {
            title: 'Rank',
            value: 'rank'
        },
        {
            title: 'Up Users',
            value: 'upUsers'
        },
        {
            title: 'Down Users',
            value: 'downUsers'
        },
        {
            title: 'Create User Id',
            value: 'createUserId'
        },
        {
            title: 'Create Date',
            value: 'createDate'
        },
        {
            title: 'Update Date',
            value: 'updateDate'
        }
    ];


    $scope.delete = function(blog) {
        $scope.delBlog.data = blog;
        $http.post('api/rs', $scope.delBlog)
                .success(function (data, status, headers, config) {
                    $scope.blogs.splice($scope.blogs.indexOf(blog), 1);
                    toaster.pop('success', status, data, 3000);
                })
    };

    $scope.post = function() {
        $location.path("/form/com.networknt.light.blog.post");
    };

    $scope.update = function(blog) {
        modelDataService.setModelData(blog);
        $location.path("/form/com.networknt.light.blog.update");
    };

    //The function that is responsible of fetching the result from the server
    $scope.fetchResult = function () {
        $http.post('api/rs', $scope.getBlog)
                .success(function (result, status, headers, config) {
                    $scope.blogs = result.blogs;
                    $scope.hosts = result.hosts;
                    $scope.page.totalItems = result.total;
                    //console.log($scope.blogs);
                    //console.log($scope.page.totalItems);
                    $scope.page.numPages = Math.ceil($scope.page.totalItems / $scope.getBlog.data.pageSize);
                    //console.log($scope.page.numPages);
                })
    };

    //call back function that we passed to our custom directive sortBy, will be called when clicking on any field to sort
    $scope.onSort = function (sortedBy, sortDir) {
        $scope.getBlog.data.sortDir = sortDir;
        $scope.getBlog.data.sortedBy = sortedBy;
        $scope.getBlog.data.pageNo = 1;
        $scope.fetchResult();
    };

    //Will be called when filtering the grid, will reset the page number to one
    $scope.filterResult = function () {
        $scope.getBlog.data.pageNo = 1;
        $scope.fetchResult();
    };

    $scope.pageChanged = function() {
        $scope.fetchResult();
    };

    $scope.pageChanged();

}]);
</script>

<div class="container" ng-controller="blogAdminHomeCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right" ng-if="global.isLogin">
                <button class="btn btn-info" ng-click="post()"><i class="glyphicon glyphicon-edit"></i>Post</button>
            </div>
            <tabset>
                <tab heading="Recent">
                    <h4>Blog</h4>
                    <!--
                    <ul class="list-inline inner">
                        <li ng-repeat="tag in global.tagsList">
                            <a ng-href="{{'/'+tag._id}}" class="pure-button pure-button-xsmall info-bg">{{tag.tag}}</a>
                        </li>
                        <li>
                            <a href="/tag" class="pure-button pure-button-xsmall"><i class="fa fa-search"></i>more</a>
                        </li>
                    </ul>
                    -->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in headers">
                                <sort-by onsort="onUserSort" sortdir="getBlog.data.sortDir" sortedby="getBlog.data.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <select ng-change="filterResult()" ng-model="getBlog.data.host" ng-options="host for host in hosts" >
                                    <option value=""> </option>
                                </select>
                            </td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getBlog.data.title" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getBlog.data.rank" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getBlog.data.upUsers" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getBlog.data.downUsers" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getBlog.data.createUserId" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getBlog.data.createDate" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getBlog.data.updateDate" type="text" /></td>
                        </tr>
                        <tr ng-repeat="blog in blogs">
                            <td><a href ng-click="delete(blog)">Delete</a></td>
                            <td>{{blog.host}}</td>
                            <td><a href ng-click="update(blog)">{{blog.title}}</a></td>
                            <td>{{blog.rank}}</td>
                            <td>{{blog.upUsers}}</td>
                            <td>{{blog.downUsers}}</td>
                            <td>{{blog.createUserId}}</td>
                            <td>{{blog.createDate}}</td>
                            <td>{{blog.updateDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination total-items="page.totalItems" items-per-page="getBlog.data.pageSize" ng-model="getBlog.data.pageNo" max-size="page.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="page.numPages" ng-change="pageChanged()"></pagination>
                    <table>
                        <tr>
                            <td>Page: {{getBlog.data.pageNo}} / {{page.numPages}}</td>
                            <td>&nbsp;</td>
                            <td>Page Size:</td>
                            <td><input type="number" min="1" max="100" ng-change="filterResult()" ng-model="getBlog.data.pageSize"></td>
                        </tr>
                    </table>

                </tab>
                <tab heading="Hot">
                    <div>This is tab hot</div>
                </tab>
                <tab heading="Updated">
                    <div>This is tab updated</div>
                </tab>
                <tab heading="My posts" ng-if="global.isLogin">
                    <div>This is tab my posts</div>
                </tab>
            </tabset>
        </div>
    </div>
</div> <!-- /container -->
