<script type='text/javascript'>
    angular.module('lightApp').controller('formAdminUpdateCtrl', ['$scope', '$http', '$location', 'toaster', 'modelDataService', function ($scope, $http, $location, toaster, modelDataService) {
                $scope.updFormPost = {
                    category : 'form',
                    name : 'updForm',
                    readOnly: false
                };

                $scope.data = modelDataService.getModelData() || {};
                modelDataService.setModelData(null); // reset the modelDataService variable.
                //console.log($scope.data);
                //console.log($scope.data.id);
                $scope.updFormPost.data = $scope.data;
                $scope.schema = $scope.data.schema;
                //console.log($scope.schema);
                $scope.form = $scope.data.form;
                //console.log($scope.form);
                $scope.action = $scope.data.action;
                //console.log($scope.action);
                $scope.schemaJson = JSON.stringify($scope.schema, undefined, 2);
                $scope.formJson = JSON.stringify($scope.form, undefined, 2);
                $scope.actionJson = JSON.stringify($scope.action, undefined, 2);
                $scope.modelData = $scope.data.modelData || {};
                $scope.decorator = 'bootstrap-decorator';

                $scope.itParsesSchema = true;
                $scope.itParsesForm = true;
                $scope.itParsesAction = true;

                $scope.$watch('schemaJson',function(val,old){
                    if (val && val !== old) {
                        try {
                            $scope.schema = JSON.parse($scope.schemaJson);
                            $scope.itParsesSchema = true;
                        } catch (e){
                            $scope.itParsesSchema = false;
                        }
                    }
                });

                $scope.$watch('formJson',function(val,old){
                    if (val && val !== old) {
                        try {
                            $scope.form = JSON.parse($scope.formJson);
                            $scope.itParsesForm = true;
                        } catch (e){
                            $scope.itParsesForm = false;
                        }
                    }
                });

                $scope.$watch('actionJson',function(val,old){
                    if (val && val !== old) {
                        try {
                            $scope.action = JSON.parse($scope.actionJson);
                            $scope.itParsesAction = true;
                        } catch (e){
                            $scope.itParsesAction = false;
                        }
                    }
                });

                $scope.pretty = function(){
                    return JSON.stringify($scope.modelData,undefined,2,2);
                };

                $scope.submitForm = function(form, model) {
                    // First we broadcast an event so all fields validate themselves
                    //console.log(model);
                    $scope.$broadcast('schemaFormValidate');
                    // Then we check if the form is valid
                    if (form.$valid) {
                        // TODO submit the form based on the action defined.


                    }
                };

                $scope.submitSchema = function() {
                    console.log('submitSchema is called');
                    $scope.updFormPost.data.schema = $scope.schema;
                    console.log($scope.schema);
                    $scope.updFormPost.data.form = $scope.form;
                    console.log($scope.form);
                    $scope.updFormPost.data.action = $scope.action;
                    console.log($scope.action);
                    $http.post('api/rs', $scope.updFormPost)
                            .success(function(data, status, headers, config) {
                                toaster.pop('success', status, data, 3000);
                                $location.path("/page/com.networknt.light.form.admin.home");
                            })

                };

                $scope.saveModel = function() {
                    console.log('saveModel is called');
                    console.log($scope.modelData);
                    $scope.updFormPost.data.modelData = $scope.modelData;
                    $http.post('api/rs', $scope.updFormPost)
                            .success(function(data, status, headers, config) {
                                toaster.pop('success', status, data, 3000);
                                $location.path("/page/com.networknt.light.form.admin.home");
                            })
                };

            }]);
</script>
<style type="text/css">

    body,html {
        min-height: 1400px;
    }

    .alert .form-group {
        margin-bottom: 0px;
    }

    .red {
        border: 1px solid red;
        background: #fee;
    }

    .ace_editor { font-size: 20px !important;}
    .form {  height: 400px;  }
    .action { height: 200px; }
    .schema {  height: 800px;  }
</style>
<div class="col-md-12" ng-app="lightApp" ng-controller="formAdminUpdateCtrl">
    <h1>Schema Form Admin</h1>
    <div class="row">
        <div class="col-sm-4">
            <h3>The Generated Form</h3>
            <form name="ngform" ng-submit="submitForm(ngform, modelData)">
                <div sf-model="modelData" sf-form="form" sf-schema="schema"></div>
                <div ng-repeat="act in action">
                    <input type="submit" ng-click="setButtonIndex($index)" class="btn btn-primary pull-right" value="{{act.title}}">
                </div>
            </form>

            <h3>Model</h3>
            <pre ng-cloak>{{pretty()}}</pre>
            <div class="col-xs-3 col-md-3"><input type="submit" value="Save Model" ng-click="saveModel()" class="btn btn-primary btn-block"></div>
        </div>
        <div class="col-sm-8">
            <h3>Selected Form: {{data.id}}</h3>
            <h3>Form</h3>
            <div ui-ace="{ theme: 'eclipse',mode:'json'}" ng-class="{red: !itParsesForm}" ng-model="formJson" class="form-control form"></div>
            <h3>Action</h3>
            <div ui-ace="{ theme: 'eclipse',mode:'json'}" ng-class="{red: !itParsesAction}" ng-model="actionJson" class="form-control action"></div>
            <h3>Schema</h3>
            <div ui-ace="{ theme: 'eclipse',mode:'json'}" ng-class="{red: !itParsesSchema}" ng-model="schemaJson" class="form-control schema"></div>
            <div class="col-xs-2 col-md-2"><input type="submit" value="Save Schema" ng-click="submitSchema()" class="btn btn-primary btn-block"></div>
        </div>
    </div>
</div>
