<script type='text/javascript'>
    angular.module('lightApp').controller('com.networknt.light.HostAdminHomeCtrl', ['$scope', '$http', '$location', 'toaster', 'modelDataService', function ($scope, $http, $location, toaster, modelDataService) {
        $scope.getAllHost = {
            category : 'host',
            name : 'getAllHost',
            readOnly: true
        };
        $scope.delHost = {
            category : 'host',
            name : 'delHost',
            readOnly: false
        };
        $scope.hosts = [];

        $scope.headers = [
            {
                title: 'Delete',
                value: 'delete'
            },
            {
                title: 'Id',
                value: 'id'
            },
            {
                title: 'Base',
                value: 'base'
            },
            {
                title: 'TransferMinSize',
                value: 'transferMinSize'
            },
            {
                title: 'Create UserId',
                value: 'createUserId'
            },
            {
                title: 'Create Date',
                value: 'createDate'
            },
            {
                title: 'Update UserId',
                value: 'updateUserId'
            },
            {
                title: 'Update Date',
                value: 'updateDate'
            },
        ];

        $scope.sort = {
            sortDir : 'desc',
            sortedBy : 'createDate'
        };
        $scope.filter = {};

        $scope.onSort = function (sortedBy, sortDir) {
            $scope.sort.sortDir = sortDir;
            $scope.sort.sortedBy = sortedBy;
        };

        $scope.delete = function(host) {
            $scope.delHost.data = host;
            $http.post('api/rs', $scope.delHost)
                    .success(function (data, status, headers, config) {
                        $scope.hosts.splice($scope.hosts.indexOf(host), 1);
                        toaster.pop('success', status, data, 3000);
                    })
        };


        $scope.update = function(host) {
            modelDataService.setModelData(host);
            $location.path("/form/com.networknt.light.host.update");
        };

        $scope.add = function() {
            $location.path("/form/com.networknt.light.host.add");
        };

        $scope.fetchResult = function () {
            $http.post('api/rs', $scope.getAllHost)
                    .success(function (result, status, headers, config) {
                        $scope.hosts = result;
                        console.log($scope.hosts);
                    })
        };
        $scope.fetchResult();
    }]);
</script>
<div class="container" ng-controller="com.networknt.light.HostAdminHomeCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-info" ng-click="add()"><i class="glyphicon glyphicon-edit"></i>Add</button>
            </div>
            <tabset>
                <tab heading="Hosts">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in headers">
                                <sort-by onsort="onSort" sortdir="sort.sortDir" sortedby="sort.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td><input ng-model="filter.id" type="text" /></td>
                            <td><input ng-model="filter.base" type="text" /></td>
                            <td><input ng-model="filter.transferMinSize" type="text" /></td>
                            <td><input ng-model="filter.createUserId" type="text" /></td>
                            <td><input ng-model="filter.createDate" type="text" /></td>
                            <td><input ng-model="filter.updateUserId" type="text" /></td>
                            <td><input ng-model="filter.updateDate" type="text" /></td>
                        </tr>
                        <tr ng-repeat="host in hosts | filter: filter | orderBy: sort.sortedBy">
                            <td><a href ng-click="delete(host)">Delete</a></td>
                            <td><a href ng-click="update(host)">{{host.id}}</a></td>
                            <td>{{host.base}}</td>
                            <td>{{host.transferMinSize}}</td>
                            <td>{{host.createUserId}}</td>
                            <td>{{host.createDate}}</td>
                            <td>{{host.updateUserId}}</td>
                            <td>{{host.updateDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
</div> <!-- /container -->
