/* options/select wrapper with switch anchors */
.cbp-vm-variants {
    min-height: 35px;
    line-height: 35px;
    font-weight: bold;
}

.media-object { width: 30px; height: 30px; }

.category-tree {
    margin: 0;
    padding: 0;
}
.category-tree ul {
    margin: 0;
    padding: 0 0 0 14px;
}
.category-tree li {
    list-style-type: none;
}
.category-tree a {
    cursor: pointer;
}
.category-tree li.selected > a {
    background-color: #d9edf7;
    color: #000;
    padding: 0 7px;
}
.category-tree li:before {
    content: "";
    display: inline-block;
    font-size: 13px;
    height: 11px;
    line-height: 7px;
    margin: 3px 7px 0 0;
    text-align: center;
    vertical-align: top;
    width: 11px;
}
.category-tree .has-children:before {
    border: 1px solid black;
    content: "+";
    cursor: pointer;
}
.category-tree .has-children.open:before {
    content: "-";
    cursor: pointer;
}
.category-tree .has-children.always-open:before {
    border: 1px solid black;
    content: "";
    cursor: default;
}