<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <script src="bower_components/angular/angular.js"></script>

    <script src="app.js"></script>
    <script src="src/directive.js"></script>
    <!--<script src="com-networknt-light-example.js"></script>-->

</head>
<body ng-app="lightApp">
<div ng-controller="Controller">
    <com-networknt-light-post-summary></com-networknt-light-post-summary>
</div>
</body>
</html>