<div class="container">

    <div class="jumbotron">

        <h2>Learn to Create Websites with Light Framework</h2>

        <p>Light is an Omni-Channel Application Framework leverages <a href="https://angularjs.org/" target="_blank">AngularJS</a>, <a href="http://undertow.io/" target="_blank">Undertow</a>, <a href="https://github.com/networknt/rule-engine" target="_blank">Light Rule Engine</a>, <a href="http://hazelcast.com/" target="_blank">Hazelcast</a> and <a href="http://www.orientechnologies.com/orientdb/" target="_blank">OrientDB</a>. It is lightning fast, light weighted and easy to add new components, views and applications on top of it. </p>

        <p><a href="/page/com-networknt-light-v-get-started" class="btn btn-success btn-lg">Learn more</a></p>

    </div>

    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>Omni-Channel Architecture</h3>
            <p>Omnichannel is a still new and the idea is still developing. Omnichannel is about true continuity of your experience. But the key is that it extends beyond a single brand’s universe. Being omniscient is perceiving and understanding all things. And the best way for a customer to perceive everything is to allow them to own their data and experience, then give them the ability to use it to guide creation and context of every future experience.</p>
            <p><a href="/page/com-networknt-light-v-omnichannel" class="btn btn-success">Learn More &raquo;</a></p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>Challenges</h3>

            <p>Today's web applications are facing challenges: Productivity of development team, Change and release management, Security and performance, Integration with back-end legacy system, Dependencies and versions management, Supporting, Logging and monitoring of client side application (AngularJS) running on browsers, and capturing and analyzing client behavior data which is valuable and can directly lead to sales.</p>

            <p><a href="/page/com-networknt-light-v-challenges" class="btn btn-success">Learn More &raquo;</a></p>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>Technology Stacks</h3>

            <p>AngularJS and Bootstrap built Web Components, Views and Applications with configuration and data from backend. Embedded Undertow HTTP 2.0 server with non-blocking, asynchronous architecture. Hazelcast Distributed cache and Document-Graph NoSQL database OrientDb. Light Rule Engine glues everything together and command/event sourcing along with CQRS makes framework scalable and supports events replay anywhere.</p>

            <p><a href="/page/com-networknt-light-v-stacks" class="btn btn-success">Learn More &raquo;</a></p>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>Components</h3>

            <p>Component is the smallest deployment unit in the framework and it contains Web Component built with AngularJS, configurations data in database, a set of rules built in Java. Components are separate with data so that it can be open sourced and reused anywhere and it can only be alive as part of the view which can have several components and other contents. Angular schema form is one of the components.</p>

            <p><a href="/page/com-networknt-light-v-components" class="btn btn-success">Learn More &raquo;</a></p>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>Views</h3>

            <p>Views are also called pages and it consists several components and static contents. It is working independently with other views except sharing data and routing to other views. Like component, it can be deployed independently and the dependencies and versions are managed by graph database through configuration. Views can also have rules to handle business logic and manage components within.</p>

            <p><a href="/page/com-networknt-light-v-views" class="btn btn-success">Learn More &raquo;</a></p>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>Applications</h3>

            <p>An application contains several views linked by routing rules and it provides user experience on certain function on a site. It can be deployed separately and manages views dependencies and versions. One web site can have several applications to hundreds of applications. Blog, Forum and News are common applications already implemented in the framework; however, users can choose to other ui experience. </p>

            <p><a href="/page/com-networknt-light-v-applications" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>News</h3>

            <p>The references section outlines all the standard HTML tags and CSS properties along with other useful references such as color names and values, symbols and character entities, web safe fonts, language codes, HTTP messages and much more.</p>

            <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>

        </div>


        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>Blog</h3>

            <p>The examples section encloses an extensive collection of examples on various topic that you can try and test yourself using online HTML editor.</p>

            <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>Forum</h3>

            <p>The collection of Frequently Asked Questions (FAQ) provides brief answers to many common questions related to web design and development.</p>

            <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>

        </div>

    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <footer>
                <p>&copy; Copyright 2015 Network New Technologies Inc.</p>
            </footer>
        </div>
    </div>
</div> <!-- /container -->