<div class="container">

    <div class="jumbotron">

        <h2>Learn to Create Websites with Light Framework</h2>

        <p>Light Framework leverages <a href="https://angularjs.org/" target="_blank">AngularJS</a>, <a href="http://undertow.io/" target="_blank">Undertow</a>, <a href="https://github.com/networknt/rule-engine" target="_blank">Light Rule Engine</a> and <a href="http://www.orientechnologies.com/orientdb/" target="_blank">OrientDB</a>. It is lightning fast, light weighted and easy to add new applications on top of it. </p>

        <p><a href="/getstarted" class="btn btn-success btn-lg">Learn more</a></p>

    </div>

    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>Features</h3>
            <ul>
                <li>Apples</li>
                <li>Bananas</li>
                <li>Lemons</li>
                <li>Oranges</li>
            </ul>
            <p><a href="/features" class="btn btn-success">Learn More &raquo;</a></p>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>Components</h3>

            <p>CSS is used for describing the presentation of web pages. The CSS tutorial section will help you learn the essentials of CSS, so that you can fine control the style and layout of your HTML document.</p>

            <p><a href="/components" class="btn btn-success">Learn More &raquo;</a></p>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>Applications</h3>

            <p>Twitter Bootstrap is a powerful front-end framework for faster and easier web development. The Twitter Bootstrap tutorial section will help you learn the techniques of Bootstrap so that you can create web your own website with much less efforts.</p>

            <p><a href="/applications" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>News</h3>

            <p>The references section outlines all the standard HTML tags and CSS properties along with other useful references such as color names and values, symbols and character entities, web safe fonts, language codes, HTTP messages and much more.</p>

            <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>

        </div>


        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>Blog</h3>

            <p>The examples section encloses an extensive collection of examples on various topic that you can try and test yourself using online HTML editor.</p>

            <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">

            <h3>Forum</h3>

            <p>The collection of Frequently Asked Questions (FAQ) provides brief answers to many common questions related to web design and development.</p>

            <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>

        </div>

    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <footer>
                <p>&copy; Copyright 2014 Network New Technologies Inc.</p>
            </footer>
        </div>
    </div>
</div> <!-- /container -->