$colors-green400: #66bb6a;
$colors-green300: #81c784;
$colors-pink200: #ff4081;
$colors-darkWhite: rgba(255, 255, 255, 0.87);
$colors-backgroundGrey:#EFEFEF;
$textColorOverGreyBackground:#777;


$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;