$iconSize: 24px;

$desktopGutter: 24px;
$desktopGutterMore: 32px;
$desktopGutterLess: 16px;
$desktopGutterMini: 8px;
$desktopKeylineIncrement: 64px;
$desktopDropDownMenuItemHeight: 32px;
$desktopDropDownMenuFontSize: 15px;
$desktopLeftNavMenuItemHeight: 48px;
$desktopSubheaderHeight: 48px;
$desktopToolbarHeight: 56px;