<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right" ng-if="global.isLogin">
                <button class="btn btn-info" ng-click="inject()"><i class="glyphicon glyphicon-edit"></i>Inject New Feed</button>
            </div>
            <div class="pull-right" ng-if="global.isLogin">
                <button class="btn btn-info" ng-click="injectAll()"><i class="glyphicon glyphicon-edit"></i>Inject All Selected</button>
            </div>
            <tabset>
                <tab heading="Recent">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in headers">
                                <sort-by onsort="onSort" sortdir="getFeed.data.sortDir" sortedby="getFeed.data.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input ng-model="selectedAll" ng-click="checkAll()" type="checkbox" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="getFeed.data.requestId" type="text" /></td>
                            <td>
                                <select ng-change="filterResult()" ng-model="getFeed.data.dataFeedType" ng-options="dataFeedType for dataFeedType in dataFeedTypes" >
                                    <option value=""> </option>
                                </select>
                            </td>
                            <td>
                                <select ng-change="filterResult()" ng-model="getFeed.data.createUserId" ng-options="user for user in createUserIds" >
                                    <option value=""> </option>
                                </select>
                            </td>
                            <td>
                                <select ng-change="filterResult()" ng-model="getFeed.data.updateUserId" ng-options="user for user in updateUserIds" >
                                    <option value=""> </option>
                                </select>
                            </td>
                            <td>
                                <select ng-change="filterResult()" ng-model="getFeed.data.processTypeCd" ng-options="processTypeCd for processTypeCd in processTypeCds" >
                                    <option value=""> </option>
                                </select>
                            </td>
                            <td>
                                <select ng-change="filterResult()" ng-model="getFeed.data.processSubtypeCd" ng-options="processSubtypeCd for processSubtypeCd in processSubtypeCds" >
                                    <option value=""> </option>
                                </select>
                            </td>
                        </tr>
                        <tr ng-repeat="feed in feeds track by feed.requestId">
                            <td><input type="checkbox" ng-model="feed.selected" /></td>
                            <td ng-if="global.isLogin"><a href ng-click="inject($index)">{{feed.requestId}}</a></td>
                            <td ng-if="!global.isLogin">{{feed.requestId}}</td>
                            <td>{{feed.dataFeedType}}</td>
                            <td>{{feed.createUserId}}</td>
                            <td>{{feed.updateUserId}}</td>
                            <td>{{feed.processTypeCd}}</td>
                            <td>{{feed.processSubtypeCd}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination total-items="page.totalItems" items-per-page="getFeed.data.pageSize" ng-model="getFeed.data.pageNo" max-size="page.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="page.numPages" ng-change="pageChanged()"></pagination>
                    <table>
                        <tr>
                            <td>Page: {{getFeed.data.pageNo}} / {{page.numPages}}</td>
                            <td>&nbsp;</td>
                            <td>Page Size:</td>
                            <td><input type="number" min="1" max="200" ng-change="filterResult()" ng-model="getFeed.data.pageSize"></td>
                        </tr>
                    </table>
                </tab>
                <tab heading="Hot">
                    <div>This is tab hot</div>
                </tab>
                <tab heading="Updated">
                    <div>This is tab updated</div>
                </tab>
                <tab heading="My posts" ng-if="global.isLogin">
                    <div>This is tab my posts</div>
                </tab>
            </tabset>
        </div>
    </div>
</div> <!-- /container -->