<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-info" ng-click="addMenu()"><i class="glyphicon glyphicon-edit"></i>Add Menu</button>
            </div>
            <div class="pull-right">
                <button class="btn btn-info" ng-click="addMenuItem()"><i class="glyphicon glyphicon-edit"></i>Add Menu Item</button>
            </div>
            <tabset>
                <tab heading="Host Menu">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in menuHeaders">
                                <sort-by onsort="onSort" sortdir="sort.sortDir" sortedby="sort.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuFilter.host" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuFilter.createUserId" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuFilter.createDate" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuFilter.updateUserId" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuFilter.updateDate" type="text" /></td>
                        </tr>
                        <tr ng-repeat="menu in menus | filter: menuFilter | orderBy: sort.sortedBy">
                            <td><a href ng-click="deleteMenu(menu)">Delete</a></td>
                            <td><a href ng-click="updateMenu(menu)">{{menu.host}}</a></td>
                            <td>{{menu.createUserId}}</td>
                            <td>{{menu.createDate}}</td>
                            <td>{{menu.updateUserId}}</td>
                            <td>{{menu.updateDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
                <tab heading="Menu Items">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in menuItemHeaders">
                                <sort-by onsort="onSort" sortdir="sort.sortDir" sortedby="sort.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuItemFilter.label" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuItemFilter.host" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuItemFilter.path" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuItemFilter.click" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuItemFilter.tpl" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuItemFilter.ctrl" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuItemFilter.left" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuItemFilter.roles" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuItemFilter.createUserId" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuItemFilter.createDate" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuItemFilter.updateUserId" type="text" /></td>
                            <td><input on-enter-blur on-blur-change="filterResult()" ng-model="menuItemFilter.updateDate" type="text" /></td>
                        </tr>
                        <tr ng-repeat="menuItem in menuItems | filter: menuItemFilter | orderBy: sort.sortedBy">
                            <td><a href ng-click="deleteMenuItem(menuItem)">Delete</a></td>
                            <td><a href ng-click="updateMenuItem(menuItem)">{{menuItem.label}}</a></td>
                            <td>{{menuItem.host}}</td>
                            <td>{{menuItem.path}}</td>
                            <td>{{menuItem.click}}</td>
                            <td>{{menuItem.tpl}}</td>
                            <td>{{menuItem.ctrl}}</td>
                            <td>{{menuItem.left}}</td>
                            <td>{{menuItem.roles}}</td>
                            <td>{{menuItem.createUserId}}</td>
                            <td>{{menuItem.createDate}}</td>
                            <td>{{menuItem.updateUserId}}</td>
                            <td>{{menuItem.updateDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
</div>