<!--
<script type="text/ng-template" id="node_renderer.html">
    {{node.label}}
    <ul><li data-ng-repeat = "node in node.nodes"
            data-ng-include = "'node_renderer.html'" ></li>
    </ul>
</script>
<ul data-ng-controller="MenuCtrl">
    <li data-ng-repeat="node in tree" data-ng-include="'node_renderer.html'"></li>
</ul>
-->
<li ng-repeat="node in tree | filter: { left: true }"  ng-class="{'dropdown' : node.hasOwnProperty('nodes')}">
    <a ng-if="node.hasOwnProperty('nodes')" role="button" class="dropdown-toggle">{{node.label}} <b class="caret"></b></a>
    <a ng-if="!node.hasOwnProperty('nodes')" href="{{node.path}}">{{node.label}}</a>

    <script type="text/ng-template" id="dropdown_renderer.html">
        <a href="{{node.path}}">{{node.label}}</a>
        <ul>
            <li data-ng-repeat = "node in node.nodes" data-ng-include = "'dropdown_renderer.html'" ></li>
        </ul>
    </script>
    <ul class="dropdown-menu">
        <li data-ng-repeat="node in node.nodes" data-ng-include="'dropdown_renderer.html'"></li>
    </ul>
</li>