<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form ng-submit="submit()" role="form">
                <h2 class="form-signin-heading">Please sign in</h2>
                <hr class="colorgraph">
                <div class="form-group">
                    <input type="email" name="email" ng-model="user.email" class="form-control input-lg" placeholder="Email Address" tabindex="1" required autofocus>
                </div>
                <div class="form-group">
                    <input type="password" name="password" ng-model="user.password" class="form-control input-lg" placeholder="Password" tabindex="2" required>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="remember_me" ng-model="user.remember_me" tabindex="3"> Remember me
                </div>
                <hr class="colorgraph">
                <div class="col-xs-6 col-md-6"><input type="submit" value="Sign in" class="btn btn-primary btn-block btn-lg" tabindex="4"></div>
            </form>
        </div>
    </div>
</div> <!-- /container -->