html {
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  background-color: $colors-backgroundGrey;
}