<div>
    <h1>This is just a demo for some features of Light Framework.</h1>

    1. <a href="/form/com.networknt.light.demo.strapselect_d">Schema form Strap select for single and multiple select.</a>
    <p>

    2. <a href="/form/com.networknt.light.demo.uiselect_d">Schema form UI select for single and multiple select. </a>
    <p>

    3. <a href="/page/com-networknt-light-v-test-command-get">Test get command to REST Handler</a>
    <p>

    4. <a href="/page/com-networknt-light-v-test-hello-world">Test Two Versions of Hello World </a>
    <p>

</div>