<div class="container" data-ng-controller="BlogCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right" ng-if="allowPost">
                <button class="btn btn-info" ng-click="post()"><i class="glyphicon glyphicon-edit"></i>Post</button>
            </div>
            <tabset>
                <tab heading="Recent">
                    <!--
                    <ul class="list-inline inner">
                        <li ng-repeat="tag in global.tagsList">
                            <a ng-href="{{'/'+tag._id}}" class="pure-button pure-button-xsmall info-bg">{{tag.tag}}</a>
                        </li>
                        <li>
                            <a href="/tag" class="pure-button pure-button-xsmall"><i class="fa fa-search"></i>more</a>
                        </li>
                    </ul>
                    -->
                    <span data-ng-repeat="post in blogs">
                        <article class="post">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="" ng-click="view(post)">{{post.title}}</a>
                                </h2>
                                <div class='meta-author'>
                                    <a href="" ng-click="publicProfile(post.createUserId)"><i class="fa fa-pencil success"></i>{{post.createUserId}}</a>
                                    <i class="fa fa-clock-o">{{post.createDate | timeago}}</i>
                                    <i class="fa fa-refresh">{{post.updateDate | timeago}}</i>
                                    <i class="fa fa-comments-o" title="comments" ng-show="post.comments"> {{post.comments}}</i>
                                    <a ng-repeat="tag in article.tagsList" ng-href="{{'/'+tag._id}}" class="pure-button pure-button-link">{{tag.tag}}</a>
                                </div>
                            </header><!-- .entry-header -->
                            <div class="entry-content" marked="post.summary"></div><!-- .entry-content -->
                            <p><a href="" data-ng-click="view(post)" class="more-link">Read more &#8230;</a></p>
                            <footer class="entry-meta"></footer><!-- .entry-meta -->
                        </article><!-- #post -->
                    </span>
                    <pagination total-items="page.totalItems" items-per-page="getBlog.data.pageSize" ng-model="getBlog.data.pageNo" max-size="page.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="page.numPages" ng-change="pageChanged()"></pagination>
                    <table>
                        <tr>
                            <td>Page: {{getBlog.data.pageNo}} / {{page.numPages}}</td>
                        </tr>
                    </table>

                </tab>
                <tab heading="Hot">
                    <div>This is tab hot</div>
                </tab>
                <tab heading="Updated">
                    <div>This is tab updated</div>
                </tab>
                <tab heading="My posts" ng-if="global.isLogin">
                    <div>This is tab my posts</div>
                </tab>
            </tabset>
        </div>
    </div>
</div> <!-- /container -->
