<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Get started</h1>
            <p>
            <h2><a href="/page/com-networknt-light-v-dev-linux">Check out and set up development environment in Linux</a></h2>
            </p>
            <p>
            <h2><a href="/page/com-networknt-light-v-dev-windows7">Check out and set up development environment in Windows 7</a></h2>
            </p>
            <p>
            <h2><a href="/page/com-networknt-light-v-dev-mac">Check out and set up development environment in MAC OS X</a></h2>
            </p>
            <p>
            <h2><a href="/page/com-networknt-light-v-first-component">Create your first component</a></h2>Component is the smallest development and deployment unit in the framework. It can be used to construct view/page which can be part of an application.
            </p>
            <p>
            <h2><a href="/page/com-networknt-light-v-first-view">Create your first view</a></h2>View is an smallest downloadable unit from the server and it has dependencies with other views through routing.
            </p>
            <p>
            <h2><a href="/page/com-networknt-light-v-first-application">Create your first application</a></h2>Application consists of multiple views and manages routing between views.
            </p>
        </div>
    </div>
</div>