.loginRoot {
  background-color: $colors-backgroundGrey;
  display:flex;
  align-items: center;
  justify-content: center;
  .loginFormSection {
    padding: 20px;
    padding-top: 30px;
    .loginForm {
      display:flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      padding: 30px;
      .rememberMe {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
      }
      .login {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.login {
  align-items:center;
  .userLoginForm {
    position: relative;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    .userLoginFormRow {
      margin:10px;
      input {
        width: 100%;
      }
      .rememberMe {
        width: 0%;
        float:left;
      }
    }
  }
}
.checkoutButtonModal {
  width:100%;
  position: relative;
  .checkoutButtonLogin {
    text-align: center;
    h3 {
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
  }
}

