.loginRoot {
  background-color: $colors-backgroundGrey;
  display:flex;
  align-items: center;
  justify-content: center;
  .loginFormSection {
    padding: 20px;
    padding-top: 30px;
    .loginForm {
      display:flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      padding: 30px;
      .rememberMe {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
      }
      .login {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.login {
  .loginForm{
    .loginTitle {
      font-size:20px;
    }
  }
}

.checkoutButtonModal {
  width:100%;
  position: relative;
  .checkoutButtonLogin {
    text-align: center;
    h3 {
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
  }
}

.socialButton {
  display: inline-flex;
}