.loginRoot {
  background-color: $colors-backgroundGrey;
  display:flex;
  align-items: center;
  justify-content: center;
  .loginFormSection {
    padding: 20px;
    padding-top: 30px;
    .loginForm {
      display:flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      padding: 30px;
      .rememberMe {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
      }
      .login {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.login {
  .loginForm{
    .loginTitle {
      font-size:20px;
    }
  }
}

.checkoutButtonModal {
  width:100%;
  position: relative;
  .checkoutButtonLogin {
    text-align: center;
    h3 {
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
  }
}

.socialButton {
  display: inline-flex;
}

.googleLogin {
  display: inline-block;
  background: #d14836;
  color: #fff;
  width: 190px;
  height: 40px;
  paddingTop: 10;
  paddingBottom: 10;
  borderRadius: 2;
  border: 1px solid transparent;
  fontSize: 36;
  fontWeight: bold;
  fontFamily: Roboto
}

.facebookLogin {
  display: inline-block;
  background: #4C69BA;
  color: #fff;
  width: 190px;
  height: 40px;
  paddingTop: 10;
  paddingBottom: 10;
  borderRadius: 2;
  border: 1px solid transparent;
  fontSize: 36;
  fontWeight: bold;
  fontFamily: Roboto
}
